#main-container {
  margin: 50px;
}

table {
  direction: rtl;
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd; /* Border around the table */

  tr {
    direction: rtl;
    border-bottom: 1px solid #ddd;
    height: 70px;

    th,
    td {
      border-right: 1px solid #ddd;
      text-align: right;
      padding: 8px;

      &:last-child {
        width: 0;
        white-space: nowrap;
        text-align: center;
      }

      &:not(:last-child) {
        width: 10%;
      }

      audio {
        width: 120px;
      }
    }

    th {
      background-color: #f2f2f2;
      font-weight: bold;
      font-size: 1.5em;
    }
  }
}
